<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Estadísticas</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/boton.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/list.css">
  <link rel="stylesheet" href="/css/avatar.css">
  <link rel="stylesheet" href="/css/drops.css">
  <link rel="stylesheet" href="/css/icon.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/validate.css">
  <!-- easypiechar -->
  <script src="/js/easypiechart.min.js"></script>
  <style>
    .chart {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 75px;
      text-align: center;
    }
    .chart canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    .percent {
      display: inline-block;
      line-height: 75px;
      z-index: 2;
    }
    .subpercent {
      display: block;
      z-index: 4;
    }
    .percent:after {
      content: '%';
      margin-left: 0;
      font-size: .8em;
    }
    .subpercent:after {
      margin-left: 0;
      font-size: .8em;
    }
    .table-fixHead tbody {
      overflow-y: scroll;
      height: 110px;
      display: block;
      flex: 1 1 auto;
    }
    .table-fixHead thead {
      display: table;
      flex: 0 0 auto;
      width: calc(100% - 16px) !important;
    }
    .table-fixHead tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  </style>
</head>

<body>
  <div class="page">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <div class="page-pretitle">
                Periodo: <%- datos.periodo.DESDE.split('-').reverse().join('/') %> al <%- datos.periodo.HASTA.split('-').reverse().join('/') %>
              </div>
              <div class="page-pretitle">
                Referencia: <%- datos.formulario.REFFOR %>
              </div>
              <h2 class="page-title">
                Estadísticas
              </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                  <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Nueva Consulta
                  </a>
                  <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>                    
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-4">
              <div class="card">
                <div class="card-body p-2">
                  <div class="subheader">Pendientes</div>
                  <div class="d-flex">
                    <div class="page-title-lg"><%- Intl.NumberFormat('de-DE').format(datos.contadores.PEN) %></div>
                    <div class="ms-auto">
                      <div id="chart-pendientes" class="chart" data-percent="<%- datos.ratios.PEN %>">
                        <span class="percent"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body p-2">
                  <div class="subheader">Adjudicadas</div>
                  <div class="d-flex">
                    <div class="page-title-lg"><%- Intl.NumberFormat('de-DE').format(datos.contadores.ADJ) %></div>
                    <div class="ms-auto">
                      <div id="chart-asignadas" class="chart" data-percent="<%- datos.ratios.ADJ %>">
                        <span class="percent"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-body p-2">
                  <div class="subheader">Resueltas</div>
                  <div class="d-flex ">
                    <div class="page-title-lg"><%- Intl.NumberFormat('de-DE').format(datos.contadores.RES) %></div>
                    <div class="ms-auto">
                      <div id="chart-resueltas" class="chart" data-percent="<%- datos.ratios.RES %>">
                        <span class="percent"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-1">
              <div class="card">
                <div class="card-header p-1">
                  <h3 class="card-title">Actividad</h3>
                </div>
                <div class="card-body">
                  <div id="chart-actuac"></div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-1">
              <div class="row row-cards">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header p-1">
                      <h3 class="card-title">Oficinas</h3>
                    </div>
                    <div class="card-body p-2">
                      <table class="table table-vcenter table-striped" id="tblOficinas">
                        <thead>
                          <tr class="header">
                            <th class="p-1">Oficina</th>
                            <th class="p-1 w-5 text-end">Pend</th>
                            <th class="p-1 w-5 text-end">Adju</th>
                            <th class="p-1 w-5 text-end">Resu</th>
                            <th class="p-1 w-6 text-end">Total</th>
                          </tr>
                        </thead>
                        <tbody id="table-body">
                          <% datos.oficinas.map(element=> { %>
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <% if (element.DESOFI===null) { %>
                                      <div class="font-weight-medium">TOTAL</div>
                                    <% } else { %>
                                      <div class="font-weight-medium">
                                        <%- element.DESOFI %>
                                      </div>
                                    <% } %>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.PEN %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.ADJ %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.RES %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.TOT %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-1">
                  <div class="card" style="height: 12rem">
                    <div class="card-header p-1">
                      <h3 class="card-title">Usuarios</h3>
                    </div>
                    <div class="card-body p-2">
                        <table class="table table-vcenter table-striped table-fixHead" id="tblUsuarios">
                          <thead>
                            <tr class="header">
                              <th class="p-1">UserID</th>
                              <th class="p-1 w-6 text-end">Adj</th>
                              <th class="p-1 w-6 text-end">Res</th>
                              <th class="p-1 w-6 ps-1">(%)</th>
                              <th class="p-1 w-3"></th>
                            </tr>
                          </thead>
                          <tbody id="table-body">
                            <% datos.usuarios.map(element=> { %>
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.USERID %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.ADJ %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6 text-end">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium">
                                      <%- element.RES %>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium text-blue ps-1">
                                      (<%- element.PORRES.toLocaleString() %>)
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-3"></td>
                            </tr>
                            
                            <% }) %>
                          </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <!-- modales -->
  <div class="modal modal-blur fade" id="modal-report" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="/admin/estadisticas" method="POST" onsubmit="return validate();">
          <div class="modal-header">
            <h5 class="modal-title">Nueva consulta</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="mb-1">
                  <div class="input-control">
                    <label class="form-label required">Referencia</label>
                    <input type="text" name="refcar" id="refcar" class="form-control" value="" maxlength="11" />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mb-1">
                  <div class="input-control">
                    <label class="form-label required">Desde</label>
                    <input type="date" name="desde" id="desde" class="form-control" value="<%- datos.periodo.DESDE %>" />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-1">
                  <div class="input-control">
                    <label class="form-label required">Hasta</label>
                    <input type="date" name="hasta" id="hasta" class="form-control" value="<%- datos.periodo.HASTA %>" />
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-white" data-bs-dismiss="modal">Cancelar</a>
            <button type="submit" class="btn btn-primary ms-auto">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
              Nueva consulta
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    const serieR = <%- datos.serieR %>
  </script>
  <script src="/js/util.js"></script>
  <script src="/js/admin/estadisticas/validar.js"></script>
  <script type="module" src="/js/admin/estadisticas/charts.js"></script>
</body>

</html>