<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Formularios</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/dots-menu.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/boton.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/pagination.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/list.css">  
  <link rel="stylesheet" href="/css/drops.css">
  <link rel="stylesheet" href="/css/avatar.css">
  <link rel="stylesheet" href="/css/modal.css">
  <style>
    .tableF {
      border-collapse: collapse;
      font-size: 12px;
      width: 100%;
    }
    .tableF th {
      background-color: rgb(255, 255, 255);
      color: rgb(122, 122, 122);
      text-align: left;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .tableF tr {
      scroll-snap-align: start;
    }
    thead.fixedHeader tr {
      position: relative;
    }
    thead.fixedHeader th {
      font-weight: normal;
      padding: 4px 3px;
      text-align: left;
    }
    .tableContainer {
      height: 50vh;
      overflow-y: auto;
      scroll-snap-type: y mandatory;
    }
    .tableContainer > .tableF {
      width: 100%;
    }
    tbody td:first-child {
      padding-left: 4px;
    }
  </style>
</head>

<body>
  <div class="page">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <div class="page-pretitle">
                <span class="text-muted">
                  <small><%- datos.usuario.NOMUSU %></small>
                </span>              
              </div>
              <h2 class="page-title">
                Desasignar
              </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <form action="/admin/formularios/ades/desasignar/<%= datos.usuario.IDUSUA %>" method="GET">  
                  <div class="input-icon">
                    <span class="input-icon-addon">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </span>
                    <input type="text" class="form-control d-inline-block me-3" id="buscarFormBox" name="part"
                      placeholder="Buscar..." aria-label="Buscar en formularios">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
      <div class="container-xl">
        <div class="page-body">
          <div class="row">
              <div class="col-12">
                <% if(typeof alerts !=='undefined' ) { %>
                  <% alerts.map(function (alert){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>
                <div class="card card-md">
                  <div class="card-body p-2">
                    <div class="tableContainer form-control p-0">
                      <table id="tblFormularios" class="table tableF table-striped sortable">
                        <thead class="fixedHeader">
                          <tr class="header">
                            <th class="w-1"></th>
                            <th style="width: 10%;">Oficina</th>
                            <th style="width: 5%;">Ejercicio</th>
                            <th style="width: 7%;">NIF</th>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Observaciones</th>
                          </tr>
                        </thead>
                        <tbody class="scrollContent" id="table-body">
                        </tbody>
                      </table>
                    </div>    
                  </div>
                  <div class="card-footer">
                    <form action="" id="unasig" method="POST" onsubmit="return desAsignarFormularios();">
                      <div class="col-12 d-flex">
                        <a href="" id="volver" onclick="deleteCookie('filtrb');" class="btn btn-white">Volver</a>
                        <input type="hidden" name="arrfor" id="arrfor" value="">
                        <input type="hidden" name="userid" id="userid" value="<%- datos.usuario.USERID %>">
                        <button type="submit" class="btn btn-primary ms-auto" id="btnAdd">Aceptar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script>
    const usuario = <%- JSON.stringify(datos.usuario) %>
  </script>
  <script src="/js/util.js"></script>
  <script src="/js/admin/formularios/ades/desasignar.js"></script>
  <script>
    buildTable(<%- JSON.stringify(datos.formularios) %>)
  </script>
</body>

</html>