<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Formularios</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/dots-menu.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/boton.css">
  <link rel="stylesheet" href="/css/table.css">
  <link rel="stylesheet" href="/css/pagination.css">
  <link rel="stylesheet" href="/css/page.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/input.css">
  <link rel="stylesheet" href="/css/list.css">  
  <link rel="stylesheet" href="/css/drops.css">
  <link rel="stylesheet" href="/css/avatar.css">
  <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
  <div class="page">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <div class="page-pretitle">
                Usuarios
              </div>
              <h2 class="page-title">
                Asignar/Desasignar
              </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">
                <form action="/admin/formularios/ades" method="GET">  
                  <div class="input-icon">
                    <span class="input-icon-addon">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="10" cy="10" r="7"></circle>
                        <line x1="21" y1="21" x2="15" y2="15"></line>
                      </svg>
                    </span>
                    <input type="text" class="form-control d-inline-block me-3" id="buscarUserBox" name="part"
                      placeholder="Buscar..." aria-label="Buscar en usuarios">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card card-md">
                <div class="card-body">
                  <table class="table table-vcenter table-striped sortable" id="tblUsuarios">
                    <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th>Nombre</th>
                        <th class="w-15">Oficina</th>
                        <th class="w-5"></th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                  <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                      <div id="pagination-wrapper" class="nav py-1"></div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                      <a href="#" id="vol" class="btn btn-white">Volver</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script>
    const hasNexts = <%- datos.hasNexts %>
  </script>
  <script>
    const hasPrevs = <%- datos.hasPrevs %>
  </script>
  <script>
    const estados = <%- JSON.stringify(datos.estadosUsuario) %>
  </script>
  <script src="/js/util.js"></script>
  <script src="/js/admin/formularios/ades/index.js"></script>
  <script>
    buildTable(<%- JSON.stringify(datos.usuarios) %>, <%- JSON.stringify(datos.cursor) %>)
  </script>
</body>

</html>